.padding {
    margin: 5rem;
}

// img {
//   flex-shrink: 0;
//   min-width: 100%;
//   min-height: 100%
// }
.card-actions{
  z-index: 10;
}
.add-button{
  z-index: 100;
  right: 4rem;
  position: absolute;
  bottom: 5rem;
}

.hero-card{
  display: block;
  // height: 40rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.card-img {
  height: 20rem;
  object-fit: fill;
}
