.header-container {
  display: flex;
  width: 50%;
  justify-content: space-between;
  &-block {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}
.loading-bar{
  z-index: 20;
  position: relative;
}
